h1{
   
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    color: rgb(243,172,20,255);
    margin: 40px 40px 0px 0px;
   
 

}
h2{
    margin: 0px 0px 30px 0px;
    color: rgb(216,173,67,250);
}
body{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 25px;
}
 img:hover{
transform: scale(1.1);
 }

header{
    display: flex;
    justify-content: space-between;
padding: 10px;
background-color: #ac41ac; border-radius: 10px;

}
.logo{
    display: flex;


}
@media (max-width:700){
    header{
        flex-direction: column;
    }
}
#general{

    width: 800px;
    height: 600px;
margin: 30px;
border-radius: 10px; background-color: #ffdfff; 



}
#divmayor{

    display: flex;
 
}
#yaa{
    width: 500px;
    height: 600px;
    background-color: rgb(222, 239, 255);

    }
    #yaa2{
        width: 500px;
        height: 600px;
        color: rgb(255, 255, 150);
        overflow-y: scroll;
    }
    #yaa3{
        pointer-events: none;
    color: black;
    }
    .cajadeproductos{
        width: 3px;
    }
